<noscript>
    <style media="screen">
        body {margin: 0;padding: 0;}
        .noscript {text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; border-bottom: 2px solid #333; padding: 18px 0 18px 0; width: 100%;}
    </style>
    <div class='noscript'>It looks like your web browser has JavaScript disabled. To enjoy the full functionality of this site you will need to enable it, please <a href='http://enable-javascript.com/' target='_blank'>click here if you need help on how to enable JavaScript</a>.</div>
</noscript>
