@import '../../../../stylesheets/_vars.scss';
@import '../../../../stylesheets/_mixins.scss';

.label {
    width: 100%;
    cursor: pointer;
}

.text {
    padding-right: $padding;
}

.radio {
    float: left;
    margin-right: $padding;
}

.active {
    color: $brand-success;
}

.price {
    float: right;
    margin-top: 2px;

}

@keyframes click-wave {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.35;
    }
    100% {
        width: $rb-anim-size;
        height: $rb-anim-size;
        opacity: 0;
    }
}
  
.optionInput {
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
    height: $rb-size;
    width: $rb-size;
    transition: all 0.2s ease-out 0s;
    background: $rb-bg;
    border: $rb-border;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    z-index: 1000;
}
  
.optionInput:hover {
    background: darken($rb-bg, 10%);
}
  
.optionInput:checked {
    background: $brand-success;
}
  
.optionInput:checked::before {
    height: $rb-size;
    width: $rb-size;
    position: absolute;
    content: '✔';
    font-size: 10px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    margin-left: -1px;
}

.optionInput.radio {
    border-radius: 50%;
}
  
.optionInput.radio::after {
    border-radius: 50%;
}

.animation {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: $brand-success;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 50%;
    margin-left: -0.5em;
}

.radioWrapper {
    display: inline-block;
    position: relative;
    overflow: visible;
    margin-bottom: -5px;
}

.animOff {
    display: none !important;
}

.animOn {
    display: block !important;
}