@import '../../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss';
@import '../../../../stylesheets/_vars.scss';
@import '../../../../stylesheets/_mixins.scss';

.btn {
	position: relative;
	height: $btn-height;
	border-radius: $btn-border-radius;
	box-shadow: $btn-shadow;
	border-color: transparent;
	@include type-setting(1);
	padding: $btn-padding;
	margin-bottom: $padding;
	white-space: normal;
	cursor: pointer;
	text-align: center;
	line-height: $base-line-height;

	&:hover {
		border-color: transparent;
	}

	@include media-breakpoint-between(sm, md) {
		padding-left: $padding;
		padding-right: $padding;
	}

	@include media-breakpoint-down(sm) {
		height: $mob-btn-height;
		width: 100%;
		margin-bottom: $padding;
	}
}

.primaryBtn {
	@include btn-color($brand-cta-primary);
	color: $brand-font-dark;
}

.secondaryBtn {
	@include btn-color($brand-cta-secondary);
}

.iconBtn {
	padding: 0px;
	text-align: left;
}

.btnSpan {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - #{$btn-height});
	margin-left: calc(#{$btn-height} / 2);
	padding-left: calc(#{$padding} / 2);
	padding-right: calc(#{$padding} / 2);
	display: inline-block;
	text-align: center;
	white-space: wrap;
	pointer-events: none !important;

	@include media-breakpoint-down(sm) {
		width: calc(100 - #{$mob-btn-height});
		margin-left: calc(#{$mob-btn-height} /2);
	}
}

.iconContainer {
	height: calc(#{$btn-height} - 4px);
	width: $btn-height;
	border-top-left-radius: $btn-border-radius;
	border-bottom-left-radius: $btn-border-radius;
	border-right: 1px solid $btn-border;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.25);
	pointer-events: none;	

	@include media-breakpoint-down(sm) {
		height: calc(#{$mob-btn-height} - 4px);
		width: $mob-btn-height;
	}
}

.iconSpan {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}