<html>
	<head>
    	{{#if htmlWebpackPlugin.options.dev}}
		{{> partials/head }}
		{{/if}}
	</head>
    <body>
		{{#if htmlWebpackPlugin.options.dev}}
		{{> partials/fallback }}
		{{> partials/header }}
		{{/if}}
        <div id="root">
			<div class="root__placeholder">
				<div class="newFortest">
					<h2 class="textCenters">Loading&nbsp;</h2>
				</div>
			</div>
        </div>
		{{#if htmlWebpackPlugin.options.dev}}
		{{> partials/whychoose }}
		{{> partials/footer }}
		{{/if}}
    </body>
</html>
