<html>
	<head>
    	{{#if htmlWebpackPlugin.options.dev}}
		{{> partials/head }}
		{{/if}}
	</head>
    <body>
		{{#if htmlWebpackPlugin.options.dev}}
		{{> partials/fallback }}
		{{> partials/header }}
		{{/if}}
        <div id="root">
        </div>
		{{#if htmlWebpackPlugin.options.dev}}
		{{> partials/whychoose }}
		<div class="newFix">&nbsp;</div>
		{{> partials/footer }}
		{{/if}}
    </body>
</html>
